---
import { contenidoServicios } from '../data/contenidoServicios.js';

const { titulo, contenido , imagen} = contenidoServicios;
---

<section class="Servicios">
  <section class="Izquierda">
    <div class="titulo-servicios">
      <h1 class="titulo-principal">{titulo.principal}</h1>
      <h2 class="titulo-secundario">{titulo.secundario}</h2>
    </div>
    <div class="servicios-grid">
      {Object.entries(contenidoServicios.contenido).map(([key, servicio]) => (
        <div class="servicio-card">
          <img 
            src={servicio.icono} 
            alt={servicio.alt}
            class="servicio-icono"
          />
          <h3 class="servicio-titulo">{servicio.titulo}</h3>
          <p class="servicio-descripcion">{servicio.descripcion}</p>
        </div>
      ))}
    </div>
  </section>
  <section class="Derecha">
    <div class="primera-imagen-servicios">
      <img 
        src={imagen.primero.src} 
        alt={imagen.primero.alt}
        class="first-image"
      />
    </div>
    <div class="contenedor-decorativo"></div>
    <div class="segunda-imagen-servicios">
      <img 
        src={imagen.segundo.src} 
        alt={imagen.segundo.alt}
        class="second-image"
      />
    </div>
  </section>
</section>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

  :root {
    --color-primario: #0A0A0A;
    --color-secundario: #FFFFFF;
    --color-acento: #FF5733;
    --color-fondo: #F4F4F4;
    --color-texto: #333333;
    --font-principal: 'Roboto Condensed', sans-serif;
  }

  .Servicios{
    display:flex;
    justify-content: center;
    gap: 10rem;
    background-color: #0F4E67;
  }

  .Izquierda{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 600px;
  }
  
  .titulo-servicios{
    margin-bottom: 2rem;
  }

  .titulo-principal{
    font-family: var(--font-principal);
    font-size: 2.5rem;
    color: var(--color-secundario);
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .titulo-secundario{
    font-family: var(--font-principal);
    font-size: 1.25rem;
    color: var(--color-secundario);
    text-align: center;
  }

  .servicios-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .servicio-card{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px 15px;
  }

  .servicio-icono{
    grid-row: 1 / 3;
    width: 40px;
    height: auto;
  }

  .servicio-titulo{
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-family: var(--font-principal);
    font-size: 1.25;
    color: var(--color-secundario);
  }

  .servicio-descripcion{
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    font-family: var(--font-principal);
    font-size: 1rem;
    color: var(--color-secundario);
  }

  .Derecha{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    /* margin: 2rem; */
  }

  .primera-imagen-servicios{
    display: flex;
    justify-content: start;
  }

  .segunda-imagen-servicios{
    display: flex;
    justify-content: end;
  }

  .first-image{
    position: relative;
    transform: translate(-100px, 80px); /* X, Y */
    width: 530px;
    height: auto;
    z-index: 2;
  }

  .contenedor-decorativo{
    position: relative;
  }

  .contenedor-decorativo::before{
    content: '';
    position: absolute;
    width: 200px;
    height: auto;
    background-color: #3e3d09; /* color decorativo */
    top: -20px;
    right: -20px;
  }

  .second-image{
    position: relative;
    transform: translate(20px, -80px); /* X, Y */
    width: 430px;
    height: auto;
    z-index: 1;
  }


  /* Responsivo para tablets */
  @media screen and (max-width: 1024px) {
    .contenedor-portada {
      padding: 1.5rem;
    }

    .nombre-empresa {
      font-size: 2rem;
    }


    .mensaje-principal {
      font-size: 2.5rem;
    }

    .mensaje-secundario {
      font-size: 1.3rem;
    }
  }

  /* Responsivo para móviles */
  @media screen and (max-width: 768px) {
    .contenedor-portada {
      padding: 1rem;
    }

    .logo-empresa {
      margin-bottom: 2rem;
    }

    .logo-empresa img {
      max-width: 400px;
    }


    .mensaje-principal {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .mensaje-secundario {
      font-size: 1.1rem;
    }
  }

  /* Responsivo para móviles pequeños */
  @media screen and (max-width: 480px) {
    .contenedor-portada {
      padding: 0.8rem;
    }

    .logo-empresa img {
      max-width: 300px;
    }


    .mensaje-principal {
      font-size: 1.8rem;
      line-height: 1.1;
    }

    .mensaje-secundario {
      font-size: 1rem;
    }
  }
</style>